.result-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: hidden;
}

.result-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoomInOut 20s ease-in-out infinite;
}

.result-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 180px 20px;
  margin-top: -100px;
}

.result-card {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.result-title {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.animal-info {
  margin-bottom: 40px;
}

.animal-name {
  font-size: 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: #AA214C;
  background: linear-gradient(to right, #AA214C 26%, #0E98BE 66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.animal-image-container {
  margin-bottom: 30px;
}

.animal-image {
  max-width: 50%;
  height: 50%;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.animal-description {
  font-size: 1.4rem;
  color: #333;
  line-height: 1.6;
  font-weight: bold;
  font-family: monospace;
}

.restart-button {
  background-color: #0ef512;
  color: #490e0e;
  border: none;
  border-radius: 30px;
  padding: 15px 40px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.restart-button:hover {
  background-color: #ff4f4f;
}

.footer {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .result-container {
    min-height: auto;
    padding: 40px 20px;
  }

  .result-content {
    padding: 60px 20px;
    margin-top: 0;
  }

  .result-title {
    font-size: 2.5rem;
  }

  .animal-name {
    font-size: 2rem;
  }

  .animal-description {
    font-size: 1rem;
  }

  .restart-button {
    font-size: 1rem;
    padding: 12px 30px;
  }
}
